* {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}

header, footer {
          padding: 30px;
          color: white;
          display: flex;
          justify-content: center;
}

header {
          background-color: black;
}

footer {
                    background-color: lightgray;
}

main {
          display: flex;
          justify-content:flex-start;
}

main nav {
          background-color: grey;
          padding: 10px;
          display: flex;
          flex-direction: column;
}

main nav a {
          text-decoration: none;
          color: white;
          background-color: black;
          border-radius: 10px;
          border: 1px solid white;
          padding: 10px;
          margin-bottom: 20px;
}

main nav a:hover {
          opacity: 0.7;
}

.content {
          padding: 30px;
}

.series {
          display: flex;
          flex-direction: column;
          margin: 10px;
}

.affichage-serie {
          display: flex;
}

.serie {
          border: 1px solid black;
          padding: 5px;
          margin: 5px;
}

form {
          display: flex;
          flex-direction: column;
          padding: 10px;
}

form input, form button {
          margin: 10px;
          padding: 10px;
}