/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "Poppins", sans-serif;
}

span {
          display: none;
}

body {
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #211e1e;
          margin: 40px;
          overflow: hidden;
}

.container {
          max-width: 500px;
          width: 100%;
          height: min-content;
}

.card {
          height: 20px;
          width: 312px;
          background-color: #4b4343;
          border-radius: 8px;
          border: 1px solid rgba(0, 0, 0, 0.225);
          text-align: center;
}

.card .image-box {
          height: 200px;
          overflow: hidden;
}

.card .image-box img {
          width: 100%;
}

.card .profile-details {
          display: flex;
          align-items: center;
          column-gap: 12px;
          padding: 15px;
}

.profile-details .details {
          width: 100%;
}

.profile-details .name {
          font-size: 25px;
          font-weight: 500;
}

.profile-details .author,
.description {
          font-size: 15px;
          font-weight: 500;
}

hr {
          width: 100%;
}

header {
          position: absolute;
          top: 0px;
          width: 100%;
          padding: 40px;
          display: flex;
          justify-content: space-between;
}

header a {
          text-decoration: none;
          color: black;
          background-color: #f0efef;
          padding: 12px;
          margin: 0 10px;
          border-radius: 8px;
          transition: all 0.2s ease;
}

header a:hover {
          opacity: 0.5;
}

button {
          cursor: pointer;
          transition: all 0.3s ease;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-bottom: 10px;
}

button:hover {
          opacity: 0.3;
}